@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


h1, h2 {
    color: rgb(50, 111, 123);
    font-size: 48px;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-weight: bold  !important;
}

 li {
   font-family: 'Lato', sans-serif;
   font-size: 18px;
}


.castor {
  font-family: 'Lato', sans-serif;
   font-size: 48px;
   font-weight: 900 !important;
   line-height: 1; 
}

.oil-text {
   font-family: 'Lato', sans-serif;
   font-size: 18px;
}

.inform {
   font-family: 'Lato', sans-serif;
   font-size: 22px;
   font-weight: 400;
   font-style: normal;
}

.text-dark {
   line-height: 1.2;
   font-size: 32px;
   font-weight: 300;
   font-style: normal;
   text-transform: none;
}

.unlock { 
     line-height: 1.15;
    font-weight: 300;
    font-size: 20px;
    color: #262626;
    margin: 8px 0;
}

.inquiry {
    color: #000;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.43;
}
#bonus {
    line-height: 1.5;
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.btn-success {
  background-color: rgb(55, 123, 133) !important;
  font-weight: bold  !important;
  font-size: 17px;
}

.btn-success:hover {
  background-color: rgb(106, 178, 189) !important;
  color: #FFF;
  border: 2px solid transparent;
  font-weight: bold  !important;
  font-size: 17px;
  text-align: center;
  overflow: visible;
  text-transform: none;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 0;
  margin: 0;
  white-space: normal;
  word-break: break-word;
  word-wrap: break-word;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
  height: auto;
  min-height: auto;
  transition: all .2s ease;
  position: relative;
}


svg {
  font-size: 60px !important;
  color: #c4c4c4!important;
  margin-left: 9px;
  margin-right: 9px;
}

#line {
  border: 1px solid;
  width: 100%;
  height: 0%
}

#facebook:hover {

color: #537abb !important;
}
#youtube:hover {

color: #e96349 !important;
}
#instagram:hover {

color: #bf3a89 !important;
}
